@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&display=swap');
* {
    margin: auto;
    font-family: 'Comic Neue', cursive;
}
button {
    outline: none;
    border-width: 0px;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: inherit;
    font-weight: 500;
    max-width: 100%;
    text-align: center;
    text-decoration: none;
    transition: background 0.1s ease-out 0s, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
    background: rgb(0, 82, 204);
    cursor: pointer;
    height: 32px;
    line-height: 32px;
    padding: 0px 12px;
    vertical-align: middle;
    width: auto;
    font-size: 14px;
    color: rgb(255, 255, 255);
}
button:hover {
    background: rgb(0, 101, 255);
    text-decoration: inherit;
    transition-duration: 0s, 0.15s;
    color: rgb(255, 255, 255);
}
input {
    font-size: 14px;
    border-radius: 6px;
    line-height: 1.5;
    padding: 5px 10px;
    transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 100ms ease-in;
    border: 2px solid #dee1e2;
    color: rgb(14, 14, 16);
    background: #dee1e2;
    display: block;
    height: 36px
}
input:hover {
    border-color: #ccc;
    }
input:focus{
    border-color: #9147ff;
    background: #fff;
    }
#thisJoke {
    background: lightgreen;
    width: 150px;
    height: 50px;
    border-radius: 25px;
    padding: 50px;
}    
#gimmeAndJoke {
    display: flex;
    padding: 30px;
    flex-direction: column;
    gap: 20px;
}
h1 {
    padding: 30px;
    text-align: center;
}
#addAndInput {
    display: flex;
    padding: 30px; 
}
#addJoke {
    margin-left: -250px;
}   
body {
    background-color: lightgray;
}